@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Roboto+Condensed&display=swap');

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color:#709879;
    justify-items: center;
    align-items: stretch;
}
h1 {
    font-family: "Emilys Candy";
    font-size: 50px;
    color: #FDE8E9;
    font-weight: lighter;
}
.logo {
    width: 150px;
    grid-column: 3/4;
}
nav {
    grid-column: 1/2;
    grid-row: 1/1;
}
.image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}
.image-gallery img {
    border-radius: 15%;
    height: 80%;
}
body {
    margin: 0;
}
main {
    padding-top: 200px;
    padding-bottom: 150px;
    background-color: #FDE8E9;
    height: 100%;
}
.image-gallery a {
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.image-gallery img {
    border-radius: 15%;
    width: 100%;
    max-width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.image-gallery a:hover img {
    transform: scale(1.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.image-container {
    position: relative;
    display: inline-block;
    text-align: center;
}
.image-container {
    position: relative;
    display: inline-block;
    text-align: center;
}
.image-container img {
    display: block;
    width: 100%;
    max-width: 300px;
    border-radius: 15%;
}
.image-label {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(123, 94, 123, 0.6);
    color: white;
    padding: 8px 12px;
    font-family: 'Emilys Candy', cursive;
    font-size: 40px;
    border-radius: 5px;
    opacity: 1;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #709879;
    padding-top: 25px;
    padding-bottom: 25px;
}
footer p {
    font-family: 'Emilys Candy';
    color: #FDE8E9;
    justify-self: center;
    grid-column: 2/3;
}
footer a {
    grid-column: 3/4;
    text-decoration: none;
    font-family: 'Emilys Candy';
    color: #FDE8E9;
    justify-self: center;
    align-self: center;
}   
footer a:hover {
    background-color: #FDE8E9;
    color: #709879;
}

@media screen and (max-width: 810px) {
    .image-gallery {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    h1 {
        font-family: "Emilys Candy";
        font-size: 50px;
        color: #FDE8E9;
        font-weight: lighter;
        grid-column: 2/4;
    }
}