@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Roboto+Condensed&display=swap');

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color:#709879;
    justify-items: center;
    align-items: stretch;
}
h1 {
    font-family: "Emilys Candy";
    font-size: 50px;
    color: #FDE8E9;
    font-weight: lighter;
}
.logo {
    width: 150px;
    grid-column: 3/4;
}
nav {
    grid-column: 1/2;
    grid-row: 1/1;
}
body {
    margin: 0;
}


footer {
    background-color: #709879;
    padding-top: 25px;
    padding-bottom: 25px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #709879;
    padding-top: 25px;
    padding-bottom: 25px;
}
footer p {
    font-family: 'Emilys Candy';
    color: #FDE8E9;
    justify-self: center;
    grid-column: 2/3;
}
footer a {
    grid-column: 3/4;
    text-decoration: none;
    font-family: 'Emilys Candy';
    color: #FDE8E9;
    justify-self: center;
    align-self: center;
}   
footer a:hover {
    background-color: #FDE8E9;
    color: #709879;
}